#! /usr/bin/env python

PACKAGE = "jetbot_od"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("use_camera_info", bool_t, 0, "Indicates that the camera_info topic should be subscribed to to get the default input_frame_id. Otherwise the frame from the image message will be used.", False)
yolo_type = gen.enum([gen.const("Binary",   int_t,  0, "Binary"),
                           gen.const("Binary_Inverted",   int_t,  1, "Binary Inverted")],
                          "An enum for YOLO Types")

gen.add("apply_otsu", bool_t, 0, "Apply otsu yolo", False)
gen.add("yolo_type", int_t, 0, "YOLO Type", 0, 0, 4, edit_method=yolo_type)

exit(gen.generate(PACKAGE, "yolo", "YOLO"))
